.cloud
    position relative
    max-width 1472px
    margin 0 auto

    div
        display inline-block
        position absolute

    &__left
        background url(images/cloud.png) 0 -2px no-repeat
        top -143px
        left -240px
        width 428px
        height 305px

    &__right
        background url(images/cloud.png) -438px -61px no-repeat
        top -145px
        right -239px
        width 402px
        height 246px
