<section class="task-page-content">
    @require('../cloud/cloud.hbs')
    <div class="text-container">
        <h1 class="task-page-content__title">
            Для того, чтобы записать<br>первый трек – реши задачу:
        </h1>
        <div class="column-container">
            <div class="task-page-content__task-column">
                <h2 class="task-page-content__column-title">Задача</h2>
                <p class="task-page-content__task">
                    На межгалактическом конгрессе говорят на множестве разных языков. Чтобы понимать
                    друг друга, существуют переводчики, но переводчики есть не для всех пар языков.
                    В <a href="#">текстовом файле</a> в каждой строке содержится (через пробел) имя
                    переводчика, с какого языка и на какой он может переводить.
                    Какое минимальное количество переводчиков необходимо, чтобы переводить с
                    Клингонского на Албанский?
                </p>
                <a href="#"><img src="images/clip-icon.png">Скачай файл для решения задачи</a>
            </div>
            <div class="task-page-content__answer-column">
                <h2 class="task-page-content__column-title">Ответ</h2>
                <textarea class="task-page-content__answer-field"></textarea>
                <button id="progress-button" class="task-page-content__answer-button">
                    <div class="task-page-content__answer-button-progress"></div>
                    <span class="task-page-content__answer-button-text">
                        <img class="task-page-content__answer-button-text--hover"
                             src="images/btn-img.png">
                        Проверь ответ
                    </span>
                </button>
                <div class="task-page-content__vs">
                    <h2 class="task-page-content__column-title">
                        Стань звездой<br>быстрее остальных!
                    </h2>
                    <p class="task-page-content__vs-description">
                        Для того чтобы решать задачи было быстрее<br>и проще — скачай бесплатно
                        <a href="#">Visual Studio Community Edition</a>
                    </p>
                    <p class="task-page-content__vs-description">
                        Получи полный набор программиста<br><a href="#">на DreamSpark</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
