<div class="assistant">
    <div class="assistant__image"></div>
    <div class="assistant__message">
        <span>
            Ищи подсказку в учебном курсе<br>
            <a href="#" target="_blank">«Увлекательное программирование на языке C#</a>
        </span>
    </div>
</div>
