.main-page-header
    font 24px 'Segoe UI Light'

    box-sizing border-box
    max-width 1920px
    margin 0 auto
    padding 15px 42px

    text-align right

    color #fff

    &__link
        color #0fc9ff
        cursor pointer
        text-decoration none
