<div class="progress">
    <span class="progress__task-number progress__task-number--selected">1</span>
    <span class="progress__task-number progress__task-number--next-level">2</span>
    <span class="progress__task-number">3</span>
    <span class="progress__task-number">4</span>
    <span class="progress__task-number">5</span>
    <span class="progress__task-number progress__task-number--next-level">6</span>
    <span class="progress__task-number">7</span>
    <span class="progress__task-number">8</span>
    <span class="progress__task-number">9</span>
    <span class="progress__task-number">10</span>
    <span class="progress__task-number">11</span>
    <span class="progress__task-number progress__task-number--next-level">12</span>
    <span class="progress__task-number">13</span>
    <span class="progress__task-number">14</span>
    <span class="progress__task-number">15</span>
    <span class="progress__task-number">16</span>
    <span class="progress__task-number">17</span>
    <span class="progress__task-number">18</span>
    <span class="progress__task-number">19</span>
    <span class="progress__task-number progress__task-number--next-level">20</span>
</div>
