<div class="list-characters">
    <div class="characters-container">
        <div class="list-characters__item"><img src="images/character_1.png"></div>
        <a class="list-characters__button" href="#">
            <span data-hover="<...> Кодируй" class="list-characters__button-text">IndieCode</span>
        </a>
    </div>
    <div class="characters-container">
        <div class="list-characters__item"><img src="images/character_2.png"></div>
        <a class="list-characters__button" href="#">
            <span data-hover="(...) Кодируй" class="list-characters__button-text">ElectroCode</span>
        </a>
    </div>
    <div class="characters-container">
        <div class="list-characters__item"><img src="images/character_3.png"></div>
        <a class="list-characters__button" href="#">
            <span data-hover="{...} Кодируй" class="list-characters__button-text">PunkCode</span>
        </a>
    </div>
</div>
