<html>
<head>
    <title>CodeStars</title>
    <meta charset="utf-8">
</head>
<body class="task-page">
@require('../../blocks/task-page-header/task-page-header.hbs')
@require('../../blocks/task-page-content/task-page-content.hbs')
@require('../../blocks/footer/footer.hbs')
@require('../../blocks/assistant/assistant.hbs')
</body>
</html>
