<section class="main-page-content">
    <div class="main-page-content__logo"><img src="images/logo.png"></div>
    <div class="main-page-content__title">Пройди квест, прокачай себя —<br>стань звездой кода!</div>
    @require('../list-steps/list-steps.hbs')
    <div class="main-page-content__choice-title">
        <span>Выбери свой стиль<br>программирования!</span>
    </div>
    @require('../list-characters/list-characters.hbs')
</section>
