@import '../list-steps/list-steps.styl'
@import '../list-characters/list-characters.styl'

.main-page-content
    height 1482px
    text-align center

    &__logo img
            margin 33px 30px 0 0

    &__title,
    &__choice-title
        font 48px 'Segoe UI Light'
        color #fff

    &__title
        line-height 57px
        padding 67px 0 0

    &__choice-title
        height 208px
        padding 67px 5px 0 0

    &__choice-title span
        line-height 50px
