<html>
<head>
    <title>CodeStars</title>
    <meta charset="utf-8">
</head>
<body class="main-page">
@require('../../blocks/main-page-header/main-page-header.hbs')
@require('../../blocks/main-page-content/main-page-content.hbs')
@require('../../blocks/footer/footer.hbs')
</body>
</html>
