.main-page
    font 300 24px 'Helvetica Neue', Helvetica, Arial, sans-serif

    position relative

    overflow-x hidden

    width 100%
    min-width 990px
    height 1731px
    margin 0
    padding 0

    color #fff
    background url(images/bg.jpg) center top no-repeat

    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
