<footer class="footer">
    <div class="footer-container">
        <ul class="footer__menu">
            <li><a href="#" target="_blank">Контактная информация</a></li>
            <li><a href="#" target="_blank">Конфиденциальность</a></li>
            <li><a href="#" target="_blank">Условия использования</a></li>
            <li><a href="#" target="_blank">Товарные знаки</a></li>
        </ul>
        <ul class="footer__logos">
            <li><a class="footer__logo-windows" href="#" target="_blank"></a></li>
            <li><a class="footer__logo-vs" href="#" target="_blank"></a></li>
            <li><a class="footer__logo-ma" href="#" target="_blank"></a></li>
            <li><a class="footer__logo-game-dev" href="#" target="_blank"></a></li>
            <li><a class="footer__logo-microsoft" href="#" target="_blank"></a></li>
        </ul>
    </div>
</footer>
