.footer-container
    width 960px
    margin 0 auto
    padding 69px 0 0

.footer
    position absolute
    left 0
    bottom 0

    width 100%
    height 249px

    &__menu,
    &__logos
        text-align center
        list-style none
        margin 0
        padding 0

    &__logos
        padding 35px 0 0

    &__menu li,
    &__logos li
        display inline-block
        padding 0

    &__menu li
        margin 0 26px

    &__menu a
        color #fff
        font 18px 'Segoe UI Light'
        text-decoration none
        cursor pointer

        &:hover
            color #0fc9ff

    &__logos a
        display inline-block
        height 25px
        cursor pointer

    &__logo-windows
        background url(images/footer.png) 0 0 no-repeat
        width 127px
        margin-right 55px

    &__logo-vs
        background url(images/footer.png) -187px 0 no-repeat
        width 140px
        margin-right 56px

    &__logo-ma
        background url(images/footer.png) -387px 0 no-repeat
        width 138px
        margin-right 46px

    &__logo-game-dev
        background url(images/footer.png) -575px 0 no-repeat
        width 109px
        margin-right 69px

    &__logo-microsoft
        background url(images/footer.png) -757px 0 no-repeat
        width 116px
