<header class="task-page-header">
    <div class="task-page-header-container">
        <div class="task-page-header__menu">
            <a href="main.html" class="task-page-header__logo">
                <img src="images/header-logo.png">
            </a>
            <div>
                <a href="#" class="task-page-header__auth-link">Сохрани персонажа</a>
                <div class="task-page-header__social">
                    <a href="#" target="_blank" class="task-page-header__fb"></a>
                    <a href="#" target="_blank" class="task-page-header__tw"></a>
                    <a href="#" target="_blank" class="task-page-header__vk"></a>
                </div>
            </div>
        </div>
        @require('../progress/progress.hbs')
    </div>
</header>
