@import '../progress/progress.styl'

.task-page-header
    height 224px
    background url(images/header-bg.png) top center no-repeat

    &__logo
        display inline-block
        margin 16px 31px

    &__auth-link
        display inline-block
        text-decoration none
        color #ff9900
        font 21.72px 'Segoe UI Light'
        cursor pointer
        position relative
        top -2px

    &__social
        display inline-block
        margin 7px 23px 0 40px

        a
            display inline-block
            height 25px
            cursor pointer

    &__menu
        display flex
        justify-content space-between

        div
            display inline-block
            margin-top 8px

    &__fb
        background url(images/social.png) 0 0 no-repeat
        width 11px
        margin-right 19px

    &__tw
        background url(images/social.png) -36px 0 no-repeat
        width 18px
        margin-right 13px

    &__vk
        background url(images/social.png) -74px 0 no-repeat
        width 26px

.task-page-header-container
    width 1030px
    margin 0 auto
