<ol class="list-steps">
    <li class="list-steps__item">
        <div class="list-steps__item-icon">
            <img class="list-steps__guitar-animation-step" src="images/step1.png">
            <img class="list-steps__guitar-animation-step" src="images/step2.png">
            <img class="list-steps__guitar-animation-step" src="images/step3.png">
            <img class="list-steps__guitar-animation-step" src="images/step4.png">
        </div>
        <div class="list-steps__item-description">Выбери свой стиль<br>программирования</div>
    </li>
    <li class="list-steps__item">
        <div class="list-steps__item-icon">
            <img class="list-steps__vs-icon" src="images/2.png">
            <img class="list-steps__download-icon" src="images/2-hover.png">
        </div>
        <div class="list-steps__item-description">
            Скачай Visual Studio<br>и зарегистрируйся<br>в MVA club
        </div>
    </li>
    <li class="list-steps__item">
        <div class="list-steps__item-icon">
            <img class="list-steps__star-icon" src="images/3.png">
            <img class="list-steps__circle-star-icon" src="images/3-hover.png">
        </div>
        <div class="list-steps__item-description">Пройди квест, прокачай<br>своего героя и
            попади<br>в зал Славы
        </div>
    </li>
</ol>
